<div class="card relative group h-20" [routerLink]="['/posts/', post._id]">
  <div
    class="absolute inset-0 z-20 group-hover:opacity-100 transition-all opacity-0 bg-gradient-to-t from-black to-transparent"
  >
    &nbsp;&nbsp;
  </div>
  <img [src]="post.url" alt="" />
  <div class="card-content">
    <h2
      class="font-bold text-2xl z-30 opacity-0 group-hover:opacity-100 transition-all"
    >
      {{ post.eventTitle }}
    </h2>
    <p class="text-xl z-30">starting from : idk</p>
  </div>
</div>
