<div class="card flex justify-content-center relative w-full h-auto">
  <div
    class="absolute top-50-left-40 w-72 h-72 bg-primary_yellow rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob z-[-1]"
  ></div>
  <div
    class="absolute top-0 right-4 w-72 h-72 bg-primary_Green rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-2000 z-[-1]"
  ></div>
  <div
    class="absolute bottom-32 left-20 w-72 h-72 bg-primary_Green rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-4000 z-[-1]"
  ></div>

  <p-button (click)="showDialog()" [label]="'New Event' | translate"></p-button>
  <p-dialog
    [header]="'Add a new event' | translate"
    [(visible)]="visible"
    [modal]="true"
    [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [draggable]="false"
  >
    <form [formGroup]="postAdd" class="space-y-4">
      <div class="flex flex-col">
        <label for="eventTitle" class="mb-2 font-semibold text-gray-700">{{
          "Event Title" | translate
        }}</label>
        <input type="text" formControlName="eventTitle" pInputText />
      </div>

      <div class="flex flex-col">
        <label for="eventType" class="mb-2 font-semibold text-gray-700">{{
          "Category" | translate
        }}</label>
        <p-dropdown
          formControlName="eventType"
          [options]="eventCategories"
          optionLabel="name"
          placeholder="Select An event type"
        ></p-dropdown>
      </div>

      <div>
        <label for="date" class="mb-2 font-semibold text-gray-700">{{
          "Date" | translate
        }}</label>
        <br />
        <p-calendar formControlName="date" appendTo="body"></p-calendar>
      </div>
      <div class="flex flex-col">
        <label for="time" class="mb-2 font-semibold text-gray-700">{{
          "Time" | translate
        }}</label>
        <input pInputText formControlName="time" />
      </div>
      <div class="flex flex-col">
        <label for="time" class="mb-2 font-semibold text-gray-700">{{
          "Location" | translate
        }}</label>
        <input pInputText formControlName="eventLocation" />
      </div>
      <div class="flex flex-col">
        <label for="description" class="mb-2 font-semibold text-gray-700">{{
          "Description" | translate
        }}</label>
        <input type="text" formControlName="description" pInputText />
      </div>

      <div class="flex flex-col">
        <label for="posterUrl" class="mb-2 font-semibold text-gray-700">{{
          "Poster URL" | translate
        }}</label>
        <input type="text" formControlName="url" pInputText />
      </div>
      <div formArrayName="eventTiers">
        <h1 class="mb-2 font-semibold text-gray-700">
          {{ "Tiers" | translate }}
        </h1>
        <div
          *ngFor="let tier of eventTiers.controls; let i = index"
          [formGroupName]="i"
        >
          <input
            type="text"
            formControlName="tierName"
            [placeholder]="'Tier Name' | translate"
            pInputText
          />
          <input
            type="number"
            formControlName="tierPrice"
            [placeholder]="'Tier Price' | translate"
            pInputText
          />
          <input
            type="number"
            formControlName="tierLimit"
            [placeholder]="'Tier Price' | translate"
            pInputText
          />
          <p-button
            *ngIf="eventTiers.controls.length > 1"
            (click)="removeTier(i)"
            label="Remove tier "
            [outlined]="true"
            severity="danger"
          ></p-button>
        </div>
        <p-button
          (click)="addTier()"
          severity="info"
          [label]="'Add a tier' | translate"
        ></p-button>
      </div>
    </form>
    <ng-template pTemplate="footer">
      <p-button
        (click)="visible = false"
        [label]="'Cancel' | translate"
        class="font-normal"
        severity="secondary"
        [outlined]="true"
      ></p-button>
      <p-button
        (click)="[(visible = false), addPost()]"
        [label]="'Add a new Post' | translate"
        pAutoFocus
        [autofocus]="true"
      ></p-button>
    </ng-template>
  </p-dialog>
</div>
